@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.get-started {
	padding: 7.2rem;
	margin: 12rem 15.2rem 10.2rem;
	background-color: $tomato-red;
	color: $white;
	@include flex(start, space-between, 12.5rem);

	h2 {
		max-width: 52.1rem;
		font-size: $fs-72;
	}
	&__content {
		max-width: 32.6rem;

		p {
			margin-bottom: 4.4rem;
		}
		a {
			padding: 0.8rem;
			font-size: $fs-14;
			line-height: 1;
			background-color: $white;
			color: $charcoal-black;
		}
	}

	@include media(max, tablet) {
		margin: 5.6rem 0 0;
		padding: 4rem 1.6rem;
		flex-direction: column;
		gap: 4.8rem;

		h2 {
			font-size: $fs-56;
		}
		p {
			margin-bottom: 2.4rem;
		}
	}
}
