@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.faq {
	padding: 8rem 15.5rem;

	@include media(max, tablet) {
		padding: 5.6rem 1.6rem 0rem;
	}

	&__container {
		max-width: $max-content-width;
		margin: 0 auto;
	}

	&__title {
		font-family: $ff-schabo;
		font-size: $fs-64;
		max-width: 44rem;

		@include media(max, tablet) {
			font-size: $fs-56;
			margin-bottom: 2.4rem;
		}
	}

	&__list {
		margin-top: 2.4rem;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;

		@include media(max, tablet) {
			gap: 1.6rem;
		}
	}

	&__item {
		border-bottom: 0.1rem solid #71717a;
		transition: all 0.3s ease;
	}

	&__question {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		text-align: left;
		font-size: $fs-20;
		font-weight: $fw-bold;
		padding-bottom: 2.4rem;
		transition: color 0.3s ease;

		@include media(max, tablet) {
			font-size: $fs-16;
		}

		.faq__item--open & {
			padding-bottom: 1.6rem;
		}

		span {
			flex: 1;
			padding-right: 2rem;
		}
	}

	&__icon {
		flex-shrink: 0;
		transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
		color: $black;
		width: 2.4rem;
		height: 2.4rem;

		.faq__item--open & {
			transform: rotate(180deg);
		}
	}

	&__answer {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
		overflow: hidden;

		.faq__item--open & {
			grid-template-rows: 1fr;
		}

		&__content {
			min-height: 0;
			opacity: 0;
			transform: translateY(-1rem);
			will-change: transform;
			transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;

			@include media(max, tablet) {
				padding-right: 4.3rem;
			}

			.faq__item--open & {
				opacity: 1;
				transform: translateY(0);
				padding-block: 0 2.4rem;

				@include media(max, tablet) {
					padding-bottom: 1.6rem;
				}
			}

			p {
				font-size: $fs-14;
				font-weight: $fw-regular;
				max-width: 53rem;
				color: $charcoal-black;
				margin: 0;
			}
		}
	}
}
