@use "training-base" as *;

.training {
	@extend %training-base;

	&__container {
		background-color: #ff4a68;
		@extend %training-container;
	}

	&__header {
		@extend %training-header;
	}

	&__content {
		@extend %training-content;
	}

	&__features {
		@extend %training-features;
	}

	&__ideal {
		@extend %training-ideal;
	}

	&__pricing {
		@extend %training-pricing;
	}

	&__cta {
		@extend %training-cta;
	}
}
