@use "training-base" as *;
@use "../../scss/utils/variables" as *;

.training {
	@extend %training-base;

	&__container {
		background-color: #ff8447;
		@extend %training-container;
	}

	&__header {
		@extend %training-header;
	}

	&__content {
		@extend %training-content;
	}

	&__features {
		@extend %training-features;
	}

	&__ideal {
		@extend %training-ideal;
	}

	&__pricing {
		@extend %training-pricing;

		> h3 {
			font-family: $ff-schabo;
			font-size: $fs-32;
			text-transform: uppercase;
			margin-bottom: 1.6rem;
			font-weight: $fw-bold;
		}
		th {
			font-weight: $fw-semi-bold;
		}
	}

	&__cta {
		@extend %training-cta;
	}
}
