@use "training-base" as *;
@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.training {
	@extend %training-base;

	&__container {
		background-color: #ff8447;
		@extend %training-container;
	}

	&__header {
		@extend %training-header;
	}

	&__content {
		@extend %training-content;
	}

	&__features {
		@extend %training-features;
	}

	&__ideal {
		@extend %training-ideal;
	}

	&__pricing {
		@extend %training-pricing;

		> h3 {
			font-family: $ff-schabo;
			font-size: $fs-32;
			text-transform: uppercase;
			margin-bottom: 1.6rem;
			font-weight: $fw-bold;
		}
		th {
			font-weight: $fw-semi-bold;
		}

		&__table {
			@include media(max, tablet) {
				display: none;
			}
		}

		&__mobile {
			display: none;

			@include media(max, tablet) {
				display: flex;
				flex-direction: column;
				gap: 2.4rem;
			}
		}

		&__card {
			border: 0.1rem solid $charcoal-black;

			&__title {
				font-weight: $fw-bold;
				padding: 1.6rem;
				border-bottom: 0.1rem solid $charcoal-black;
			}

			&__feature {
				line-height: 1.5;
				padding: 1.6rem;
				border-bottom: 0.1rem solid $charcoal-black;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	&__cta {
		@extend %training-cta;
	}
}
