@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.testimonials {
	width: 100%;
	padding: 12rem 8.8rem 0;
	background-color: $white;

	&__container {
		max-width: $max-content-width;
		margin: 0 auto;
		width: 100%;
	}

	&__header {
		@include flex(center, space-between, 2rem);
		margin-bottom: 4.8rem;
	}

	&__title {
		font-size: $fs-66;
	}

	&__navigation {
		display: flex;
		gap: 0.8rem;
	}

	&__navigationMobile {
		display: none;
	}

	&__navButton {
		width: 4rem;
		height: 5.3rem;
		border: 0.1rem solid transparent;
		background-color: #ffdddd;
		@include flex(center, center);
		transition: all 0.3s ease;
		color: $dark-wine;

		&:hover:not(:disabled) {
			background-color: $dark-wine;
			color: $white;
		}

		&:active:not(:disabled) {
			transform: scale(0.95);
		}

		&--disabled {
			background-color: $white;
			border-color: $tomato-red;
			color: $dark-wine;
			cursor: not-allowed;
			opacity: 1;
		}

		svg {
			width: 2rem;
			height: 2rem;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.4rem;

		&--slideNext {
			animation: slideOutToLeft 0.5s ease-in-out;
		}

		&--slidePrev {
			animation: slideOutToRight 0.5s ease-in-out;
		}
	}

	@keyframes slideOutToLeft {
		0% {
			opacity: 1;
			transform: translateX(0);
		}
		50% {
			opacity: 0;
			transform: translateX(-100px);
		}
		51% {
			opacity: 0;
			transform: translateX(100px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes slideOutToRight {
		0% {
			opacity: 1;
			transform: translateX(0);
		}
		50% {
			opacity: 0;
			transform: translateX(100px);
		}
		51% {
			opacity: 0;
			transform: translateX(-100px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	&__card {
		padding: 2.55rem 2.4rem;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		transition: transform 0.3s ease;
		will-change: transform;

		&--gray {
			background-color: #eaeaea;
		}

		&--pink {
			background-color: #ffdddd;
		}

		&:hover {
			transform: translateY(-0.5rem);
		}
	}

	&__cardHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	&__quote {
		color: $dark-wine;
		flex-shrink: 0;

		svg {
			width: 1.6rem;
			height: 1.4rem;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		font-family: $ff-google-sans;
		font-size: $fs-14;
		line-height: 1.45;
		font-weight: $fw-medium;
		color: #71717a;

		svg {
			width: 2rem;
			height: 2rem;
			flex-shrink: 0;
		}

		span {
			white-space: nowrap;
		}
	}

	&__text {
		margin: 0;
		flex-grow: 1;
	}

	&__text,
	&__author {
		line-height: 1.45;
		font-size: $fs-14;
		color: #11181c;
		font-weight: $fw-semi-bold;
		font-family: $ff-google-sans;
	}

	&__author {
		font-size: $fs-14;
		margin-top: 0.8rem;
		font-weight: $fw-bold;
		color: #11181c;
		margin: 0;
	}

	@include media(max, tablet) {
		padding: 5.6rem 1.45rem 0;

		&__header {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 3.2rem;
		}

		&__title {
			font-size: $fs-56;
		}

		&__navigation {
			display: none;
		}

		&__navigationMobile {
			display: flex;
			gap: 0.8rem;
			margin-top: 4rem;
		}

		&__navButton {
			width: 5.6rem;
			height: 5.6rem;
			border: 0.1rem solid transparent;
			background-color: $white;

			&:hover:not(:disabled) {
				background-color: $dark-wine;
				border-color: $dark-wine;
			}

			&--disabled {
				opacity: 0.6;
			}

			svg {
				width: 2.4rem;
				height: 2.4rem;
			}
		}

		&__grid {
			grid-template-columns: 1fr;
			gap: 0;
		}

		&__card {
			padding: 2.4rem;

			&:hover {
				transform: none;
			}
		}
	}
}
