@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.benefits {
	margin-top: 12rem;

	&__heading,
	&__content {
		margin-inline: 20.45rem;
	}
	&__heading {
		max-width: 51.6rem;
		margin-inline: auto;
		text-align: center;

		h2 {
			font-size: $fs-66;
		}
		p {
			margin-top: 1.6rem;
			margin-inline: auto;
			max-width: 49.7rem;
		}
	}
	&__content {
		margin-top: 5.3rem;
		@include flex(center, space-between, 6.4rem);
		flex-wrap: wrap;

		.benefit {
			max-width: 30.1rem;
			text-align: center;

			h3 {
				font-size: $fs-32;
			}

			p {
				margin-top: 1.6rem;
			}
		}
	}
	&__gallery {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 6rem;
		margin-top: 5.6rem;
		margin-right: 8.9rem;

		img:first-child {
			width: 71rem;
			height: 68.6rem;
		}
		img:last-child {
			width: 51.4rem;
			height: 56.6rem;
		}
	}

	@include media(max, tablet) {
		margin-top: 5.6rem;

		&__heading,
		&__content {
			margin-inline: 1.6rem;
		}
		&__heading {
			text-align: left;

			h2 {
				font-size: $fs-48;
			}
			p {
				margin-top: 1.2rem;
			}
		}
		&__content {
			margin-top: 2.4rem;
			gap: 2.4rem;

			.benefit {
				text-align: left;
			}
			p {
				margin-top: 0.8rem;
			}
		}
		&__gallery {
			flex-direction: column;
			align-items: unset;
			justify-content: unset;
			margin-right: unset;
			margin-top: 4rem;
			gap: 2.4rem;

			img:first-child {
				width: 37.5rem;
				height: 35.8rem;
			}
			img:last-child {
				width: 37.5rem;
				height: 42rem;
			}
		}
	}
}
