@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.approach {
	@include flex(start, start, 7.8rem);
	margin-top: 8rem;

	img {
		width: 71rem;
		height: 72.8rem;
		object-fit: cover;
	}
	&__content {
		flex: 1;
		max-width: 49.4rem;
		margin-top: 11.8rem;

		h2 {
			font-size: $fs-64;
			line-height: 1.2;
		}
	}
	&__list-item {
		h3 {
			font-size: $fs-20;
			font-weight: $fw-bold;
			font-family: $ff-stack-sans;
			line-height: 1.5;
			text-transform: unset;
		}
	}

	@include media(max, tablet) {
		margin-top: 5.6rem;
		flex-direction: column-reverse;

		&__content {
			margin-top: 0;
			margin-inline: 1.6rem;

			h2 {
				font-size: $fs-56;
			}
		}
		&__list {
			margin-top: 0.8rem;
		}

		img {
			height: 58.9rem;
		}
	}
}
