@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.hero {
	margin-top: 6.7rem;

	&__top-content {
		max-width: 66.4rem;
		margin-inline: 15.5rem;

		h2 {
			font-size: $fs-32;
			line-height: 1.2;
			font-family: $ff-stack-sans;
			font-weight: $fw-medium;
			text-transform: unset;
		}
	}
	&__bottom-content {
		margin-top: 6.7rem;
		width: fit-content;
		margin-left: auto;
		display: flex;
		gap: 9.3rem;

		p {
			max-width: 44rem;
		}
		img {
			width: 52.2rem;
			height: 64rem;
		}
	}

	@include media(max, tablet) {
		margin-top: 6rem;
		&__top-content {
			margin-inline: 1.6rem;

			h2 {
				font-size: $fs-24;
			}
		}
		&__bottom-content {
			margin-top: 2.4rem;
			flex-direction: column;
			gap: 5.6rem;

			p {
				margin-inline: 1.6rem;
			}
			img {
				width: 100%;
				aspect-ratio: 374/459;
				object-fit: cover;
				height: auto;
			}
		}
	}
}
