@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.hero {
	max-width: 51.6rem;
	margin-inline: auto;
	text-align: center;
	margin-block: 7.2rem 9.6rem;

	h1 {
		font-size: $fs-66;
		line-height: 1;
	}
	p {
		margin-top: 0.4rem;
		margin-inline: 0.95rem;
	}

	@include media(max, tablet) {
		margin: 12.4rem 1.6rem 3.9rem;

		h1 {
			font-size: $fs-56;
		}
	}
}
