@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.philosophy {
	margin-top: -14.9rem;
	margin-inline: 15.5rem;

	&__content {
		max-width: 44rem;

		h2 {
			font-size: $fs-64;
			line-height: 1.2;
		}
		p {
			margin-top: 4rem;
		}
	}
	img {
		margin-top: 7.7rem;
		width: 100%;
		height: 66.3rem;
	}
}
