@import "../../node_modules/include-media/dist/include-media";

html,
body {
	// overflow-x: hidden;
	margin-inline: auto;
	scroll-behavior: auto !important;
	overscroll-behavior-x: none;
	-webkit-text-size-adjust: none;
	overflow-x: clip;
	// default
}
html {
	font-size: calc(100vw / 1440 * 10);
	@include media("<tablet") {
		font-size: calc(100vw / 375 * 10);
	}
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// resets
body {
	min-height: 100vh;
	min-height: 100dvh;
	font-family: $ff-stack-sans;
	& > * {
		font-size: $fs-16;
	}
	font-weight: $fw-regular;
	scrollbar-width: 0;
	color: $black;
	background-color: $white;
	letter-spacing: -0.01em;

	&::-webkit-scrollbar {
		width: 0;
	}
	[data-animation="skew-rotate-heading"],
	[data-animation="skew-heading"],
	[data-animation="skew-split-paragraph"],
	[data-animation="skew-fade-paragraph"] {
		// overflow: clip;
		will-change: transform, opacity;
	}

	@media screen and (min-width: breakpoint("LGdesktop")) {
		font-size: 62.5%;
	}
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
[data-desktop] {
	@include media("<phone") {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}

[data-mobile] {
	@include media(">=phone") {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	-webkit-user-drag: none;
}
button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	font: inherit;
}
a {
	@include toggleableHover;
}
.bg-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: $z-loader;
	background-color: $white;
}

h1,
h2,
p {
	& > * {
		will-change: transform, opacity;
	}
}
[data-section] {
	position: relative;
	width: 100%;
	z-index: 10;
}

[data-section] {
	box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.08);
}

[data-copy-wrapper] {
	opacity: 0;
}
.line {
	transform: translateY(105%);
	will-change: transform;
}

.stacking-sections {
	background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-schabo;
	line-height: 1;
	text-transform: uppercase;

	@include media("<tablet") {
		letter-spacing: -0.02em;
	}
}

p {
	font-size: $fs-14;
	line-height: 1.5;
}
