@use "../../scss/utils/variables" as *;
@use "../../scss/shared/mixins" as *;

.nav {
	position: sticky;
	top: 0;
	padding: 4rem;
	padding-bottom: 0;
	margin-inline: auto;
	z-index: $z-top-layer - 1;
	transition: transform 0.3s ease, background-color 0.3s ease, padding 0.3s ease;

	.nav__c {
		max-width: 76.9rem;
		margin-inline: auto;
	}
	&--fixed {
		background-color: rgba($white, 0.62);
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
		padding-block: 1.6rem 0.8rem;
		max-width: 100%;

		.nav__list,
		.nav__mobile-header {
			max-width: 76.9rem;
			margin-inline: auto;
			// padding-inline: 4rem;
		}
	}

	&--hidden {
		transform: translateY(-105%);
	}

	&__list {
		display: flex;
		@include flex(center, space-between);

		li {
			line-height: 1;
		}

		a {
			transition: color 0.3s ease;

			&:hover {
				color: $tomato-red;
			}
		}
	}

	img {
		width: 7.2rem;
		height: 7.2rem;
	}

	&__mobile-header {
		display: none;
	}

	&__menu-btn {
		background-color: $dark-wine;
		color: $white;
		border: none;
		padding: 0.8rem 1.15rem;
		font-size: $fs-16;
		line-height: 1;
	}

	@include media(max, tablet) {
		padding-inline: 1.6rem;

		&__list {
			display: none;
		}

		img {
			width: 7.2rem;
			height: 7.2rem;
		}

		&__mobile-header {
			@include flex(center, space-between);
		}
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	background-color: $white;
	z-index: $z-top-layer;
	display: none;
	flex-direction: column;
	padding: 4rem 1.6rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	overflow-y: auto;

	&--open {
		opacity: 1;
		pointer-events: auto;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 6rem;

		img {
			width: 7.2rem;
			height: 7.2rem;
		}
	}

	&__close-btn {
		background-color: $dark-wine;
		color: $white;
		border: none;
		padding: 0.8rem 1.15rem;
		font-size: $fs-16;
		line-height: 1;
		cursor: pointer;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		margin-bottom: auto;
	}

	&__link {
		font-family: $ff-schabo;
		font-size: $fs-96;
		line-height: 1;
		text-transform: uppercase;
		color: $black;
		transition: color 0.3s ease;

		&--active {
			color: $dark-wine;
			text-decoration: line-through;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		padding-top: 1.6rem;
		margin-top: auto;
	}

	&__section {
		&:first-child {
			h3 {
				font-weight: $fw-bold;
			}
		}
		h3 {
			font-size: $fs-16;
			font-family: $ff-stack-sans;
			text-transform: unset;
		}

		p {
			margin-bottom: 0.8rem;
			font-size: $fs-16;
		}
	}

	&__social {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
		margin-top: 1.6rem;

		a {
			font-size: $fs-16;
			font-weight: $fw-bold;
			transition: color 0.3s ease;
			text-decoration: underline;
		}
	}

	@include media(max, tablet) {
		display: flex;
	}
}
