.recognition {
  h2 {
    // Add your styles here
  }
}

.recognition__list {
  // Add your list styles here
}

.recognition__list_item {
  // Add your list item styles here

  h3 {
    // Add your heading styles here
  }

  p {
    // Add your paragraph styles here
  }
}
